*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    height: 10vh;
    margin-top: 30vh;
    width: 30vw;
}

#table{
    width: 30vw;
    margin-top: -15vh;
}

#players{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -17vh;
    height: 10vh;
}

#second{
    font-size: 13px;
    text-align: center;
    height: 20vh;
    width: 12vw;
    z-index: 1;
    position: relative;
    bottom: 2vh;
    font-weight: bold;
    background-image: url("../img/second.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first{
    font-size: 13px;
    text-align: center;
    height: 20vh;
    width: 12vw;
    z-index: 1;
    position: relative;
    bottom: 6vh;
    font-weight: bold;
    background-image: url("../img/winner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#third{
    font-size: 13px;
    text-align: center;
    height: 20vh;
    width: 12vw;
    z-index: 1;
    position: relative;
    top: 2vh;
    font-weight: bold;
    background-image: url("../img/third.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countDownDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}