*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table{
    margin-top: 10%;
    background-image: url(../img/table.png);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#player1{
    width: 16vw;
    height: 20vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

#player2wrap{
    margin-top: 35vh;
    width: 50vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player2{
    width: 7vw;
    height: 22vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

#player3{
    width: 16vw;
    height: 20vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

.name{
    margin-top: 11vh;
    text-align: center;
}

.sum{
    text-align: center;
}

.small_input{
    width: 5vw;
}

#bottom{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

button{
    background-color: yellow;
    width: 10vw;
    height: 7vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;
}

button:hover{
    transform: scale(0.9);
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    transform: none;
}

#roll{
    margin-right: auto;
}
