*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg3.png);
    background-size: cover;
}

#main{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table{
    margin-top: 10%;
    background-image: url(../img/table1.png);
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 20vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

label{
    margin-top: 7vh;
}

#player2wrap{
    margin-top: 40vh;
    width: 50vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#player2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 21vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

#player3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 20vh; 
    background-image: url(../img/player.png);
    background-position: center;
    background-size: cover;
}

.small_input{
    width: 5vw;
}

label{
    text-align: center;
}

#bottom{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

#how_many{
    margin-right: auto;
}

select{
    background-color: #0097b2;
    width: 10vw;
    height: 7vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;    
}

button{
    background-color: #0097b2;
    width: 10vw;
    height: 7vh;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

#aboutButton{
    height: 8vh;
    width: 4vw;
    font-size: 22px;
    font-family: "Griffy", "Times New Roman", serif;
    text-shadow: 2px 2px 3px #0097b285;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 10vh;
    right: 7vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.244);
}

.about-popup{
    width: 462px;
    height: 260px;
    padding: 0 !important;
    border-radius: 0;
    background-image: url(../img/bg3.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.about-text{
    font-family: "Griffy", "Times New Roman", serif;
    color: #0097b2;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}
.about-confirm {
    font-family: "Griffy", "Times New Roman", serif;
    color: #f4e6c8;
    border: none;
    background-color: #0097b2 !important;/*brez important bi na hover spremenil barvo*/
}